<article class="post page" id="page">
  <header class="post-header text-center">
  </header>
  <div class="post-content">
    <% if (page.type === "tags"){ %>
          <% if (site.tags.length){ %>
                <%- list_tags() %>
          <% } %>
      <% } else if (page.type === "categories") { %>
        <%- list_categories(site.categories) %>
      <% } else if (page.type === "search") { %>
        <%- partial('partials/search') %>
      <% } else { %>
        <%-page.content%>
      <% } %>
  </div>
</article>