<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="https://blog.0xff000000.com" target="_blank">首页</a> |
        <a class="bottom-item" href="https://0xff000000.com" target="_blank">主站</a> |
        <a class="bottom-item" href="https://github.com/KevinOfNeu" target="_blank">GitHub</a> |
        <a class="bottom-item" href="https://hexo.io" target="_blank">Hexo</a> |
        <a class="bottom-item" href="https://github.com/KevinOfNeu/hexo-theme-xxoo" target="_blank">Theme xxoo</a>
    </div>
</footer>