<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="<%=theme.index_page%>">首页</a> |
        <a class="bottom-item" href="<%=theme.main_site%>" target="_blank">主站</a> |
        <a class="bottom-item" href="<%=theme.github%>" target="_blank">GitHub</a> |
        <a class="bottom-item" href="https://hexo.io" target="_blank">Powered by hexo</a> |
        <a class="bottom-item" href="https://github.com/KevinOfNeu/hexo-theme-xoxo" target="_blank">Theme xoxo</a>
    </div>
</footer>