<div class="share" style="width: 100%;">
  <img src="http://oduh99f02.bkt.clouddn.com/image/qrcode.jpg" alt="Running Geek" style="margin: auto; display: block;"/>

  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">老铁们关注走一走，不迷路</div>
  
</div>
